body{
    background: #0D0D0D;
    height: 10px;
    width: 10px;
   max-height: 100vh;
    
   }

.circle1{
position: absolute;
width: 404px;
height: 404px;
left: 6px;
top: 21px;
background: linear-gradient(135deg, #414141 33.12%, #7E7E7E 90.42%, #7E7E7E 93.54%);
mix-blend-mode: lighten;
box-shadow: 6px 6px 30px #7E7E7E, 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50%;
top: -84px;
left: -84px;
}

.circle2{

border-radius: 50%;
position: absolute;
width: 404px;
height: 404px;
left: 15px;
top: 566px;
box-sizing: border-box;
background: linear-gradient(202.7deg, #DCDCDC 34.74%, #B6B6B6 55.45%);
box-shadow: 7px 6px 46px #B6B6B6, -6px -6px 38px #B6B6B6;
}
.circle3{
    box-sizing: border-box;

position: absolute;
width: 404px;
height: 404px;
left: 910px;
top: 232px;
border-radius: 50%;
background: linear-gradient(94.89deg, #6C6C6C 17.61%, #3D3D3D 67.21%);
mix-blend-mode: lighten;
box-shadow: -6px -6px 56px #6C6C6C;
}