.circle5{
    top:  -84px ;
    Left: -233px;
    height: 404px;
    width: 404px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(135deg, #414141 33.12%, #7E7E7E 93.54%),
    linear-gradient(135deg, #7E7E7E 40.62%, #414141 67.19%);
    border: 0.5px solid;
    border-image-source: linear-gradient(135deg, #7E7E7E 40.62%, #414141 67.19%);
    box-shadow: 6px 6px 30px 0px rgba(126, 126, 126, 1); 
    animation-name: move-box6;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;}
.circle6{
    position: absolute;
    top: 642px;
    left: 15px;
    box-shadow: -6px -6px 38px 0px rgba(182, 182, 182, 1);
    box-shadow: 7px 6px 46px 0px rgba(182, 182, 182, 1);
    border: 0.5px solid;
    border-image-source: linear-gradient(225deg, #B6B6B6 33.65%, #DCDCDC 66.98%);
    width: 404px;
    height: 404px;
    border: 0.5px;
    background: linear-gradient(225deg, #B6B6B6 33.65%, #DCDCDC 66.98%),linear-gradient(202.7deg, #DCDCDC 34.74%, #B6B6B6 55.45%);
    border-radius: 50%;
    animation-name: move-box7;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}
.circle7{
    border-radius: 50%;
    position:absolute;
    width: 404px;
    height: 404px;
    top: 497px;
    left: 1203px;
    border: 0.5px;
    background: linear-gradient(135deg, #3D3D3D 0%, #000000 100%, #6C6C6C 100%),
    linear-gradient(135deg, #6C6C6C 0%, #3D3D3D 100%);
    border: 0.5px solid;
    border-image-source: linear-gradient(135deg, #3D3D3D 0%, #000000 100%, #6C6C6C 100%);
    box-shadow: -6px -6px 56px 0px rgba(108, 108, 108, 1);
    animation-name: move-box8;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}  
@keyframes move-box6 {
    0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(146px);
      }
      100% {
        transform: translateX(0);
      }
 }
 @keyframes move-box7 {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-76px);
      }
      100% {
        transform: translateY(0);
      }
 }
 @keyframes move-box8{
    0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(-130px);
      }
      100% {
        transform: translateX(0);
      }
 }
 .mainbox{
  width: 593px;
height: 629px;
top: 69px;
left: 387px;
border-radius: 25px;
position: static;

 }
.logo{

Top:69px;

Left:596px;

border: 6px;
position:fixed;



}
 .mainTitle{
  position: fixed;
  width: 593px;
  height: 93px;
  top: 387px;
  left: 387px;
  
  font-family: Montserrat;
  font-size: 97px;
  font-weight: 400;
  line-height: 118px;
  letter-spacing: 0em;
  text-align: left;


color: rgba(126, 126, 126, 1);



 }
.mainText{
  position: fixed;
  font-family: Montserrat;
font-size: 42px;
font-weight: 400;
line-height: 51px;
letter-spacing: 0em;
text-align: center;
width: 575px;
height: 43px;
top: 531px;
left: 396px;

color: rgba(126, 126, 126, 1);

} 



.mainButton{
  position:fixed;
  font-family: Montserrat;
  font-size: 33px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
color: rgba(220, 220, 220, 1);

  
 text-align: center;

 
  width: 381px;
  height: 73px;
  top: 625px;
  left: 493px;
  border-radius: 25px;
  background: rgba(94, 94, 94, 1);
 }
.mainProfileText{
  position: fixed;
width: 144px;
height: 22px;
top: 69px;
left: 1059px;
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: rgba(126, 126, 126, 1);

}
.mainProfile{
  position: fixed;
  width: 73px;
height: 73px;
top: 44px;
left: 1228px;


} 